@charset "utf-8";
body, p/* CSS Document */

 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#bg {
	background-image: url(bg.png);
	background-repeat: repeat-x;
	text-align:center;
	width: 100%;
}
#container {
	margin: 0 auto;
	width: 900px;
	text-align:left;
}
#header {
	height: 100px;
}
#logo {
	height: 100px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	width: 320px;
	float: left;
}
#nav {
	float: left;
	width: 580px;
	overflow: hidden;
	margin: 30px 0 0 0;
}
#nav ul {
	list-style: none;
	margin: 0 -1px 0 0;
	padding: 0;
}
#nav li {
	float: right;
	display: block;
	padding: 0 20px;
	border-right: 1px solid #CCC;
}
#nav li a {
	color: #FFFFFF;
}
#nav li span {
	color: #CCCCCC;
	font-size: 11px;
}
.clr {
	clear: both;
}
#main {
	padding: 20px 10px;
	float: left;
	width: 880px;
}
#content {
	float: left;
	width: 620px;
}
#right {	
	border-left: 1px solid #DDD;
	float: right;
	width: 240px;
	padding: 0 0 0 10px;
}
h3 {
	font-weight: normal;
	padding: 0 0 10px 0;
	margin: 0;
	color: #333333;
	font-size: 120%;
}
#right ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #CCC;
}
#right li {
	padding: 5px 10px;
	border-bottom: 1px solid #CCC;
}
#right  li a {
	font-size: 100%;
}
#right span {
	color: #666666;
	font-size: 90%;
}
a {
	text-decoration: none;
	color: #006699;
}
a:hover, .current {
	text-decoration: underline;
}
#content img {
	padding: 0 10px 10px 0;
}
#content ul {
	padding: 0 0 0 15px;
}
#impressum {
	border-top: 1px solid #ccc;
	color:#666666;
	text-align:center;
	padding: 10px;
	font-size:90%;
	float: left;
	width: 880px;
}
.hightlight {
	font-size: 120%;
	background-color:#F0F0F0;
	border: 1px solid #CCC;
	padding: 5px 10px;
}
